<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yisutech.iisp.dataops.repository.mapper.OpsDataSourceMapper">
  <resultMap id="BaseResultMap" type="com.yisutech.iisp.dataops.repository.pojo.OpsDataSource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ds_url" jdbcType="VARCHAR" property="dsUrl" />
    <result column="ds_user" jdbcType="VARCHAR" property="dsUser" />
    <result column="ds_password" jdbcType="VARCHAR" property="dsPassword" />
    <result column="ds_name" jdbcType="VARCHAR" property="dsName" />
    <result column="ds_ext_param" jdbcType="VARCHAR" property="dsExtParam" />
    <result column="ds_desc" jdbcType="VARCHAR" property="dsDesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ds_url, ds_user, ds_password, ds_name, ds_ext_param, ds_desc
  </sql>
  <select id="selectByExample" parameterType="com.yisutech.iisp.dataops.repository.pojo.OpsDataSourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ops_data_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ops_data_source
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ops_data_source
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yisutech.iisp.dataops.repository.pojo.OpsDataSourceExample">
    delete from ops_data_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yisutech.iisp.dataops.repository.pojo.OpsDataSource">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ops_data_source (ds_url, ds_user, ds_password, 
      ds_name, ds_ext_param, ds_desc
      )
    values (#{dsUrl,jdbcType=VARCHAR}, #{dsUser,jdbcType=VARCHAR}, #{dsPassword,jdbcType=VARCHAR}, 
      #{dsName,jdbcType=VARCHAR}, #{dsExtParam,jdbcType=VARCHAR}, #{dsDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yisutech.iisp.dataops.repository.pojo.OpsDataSource">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ops_data_source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dsUrl != null">
        ds_url,
      </if>
      <if test="dsUser != null">
        ds_user,
      </if>
      <if test="dsPassword != null">
        ds_password,
      </if>
      <if test="dsName != null">
        ds_name,
      </if>
      <if test="dsExtParam != null">
        ds_ext_param,
      </if>
      <if test="dsDesc != null">
        ds_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dsUrl != null">
        #{dsUrl,jdbcType=VARCHAR},
      </if>
      <if test="dsUser != null">
        #{dsUser,jdbcType=VARCHAR},
      </if>
      <if test="dsPassword != null">
        #{dsPassword,jdbcType=VARCHAR},
      </if>
      <if test="dsName != null">
        #{dsName,jdbcType=VARCHAR},
      </if>
      <if test="dsExtParam != null">
        #{dsExtParam,jdbcType=VARCHAR},
      </if>
      <if test="dsDesc != null">
        #{dsDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yisutech.iisp.dataops.repository.pojo.OpsDataSourceExample" resultType="java.lang.Long">
    select count(*) from ops_data_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ops_data_source
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dsUrl != null">
        ds_url = #{record.dsUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.dsUser != null">
        ds_user = #{record.dsUser,jdbcType=VARCHAR},
      </if>
      <if test="record.dsPassword != null">
        ds_password = #{record.dsPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.dsName != null">
        ds_name = #{record.dsName,jdbcType=VARCHAR},
      </if>
      <if test="record.dsExtParam != null">
        ds_ext_param = #{record.dsExtParam,jdbcType=VARCHAR},
      </if>
      <if test="record.dsDesc != null">
        ds_desc = #{record.dsDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ops_data_source
    set id = #{record.id,jdbcType=INTEGER},
      ds_url = #{record.dsUrl,jdbcType=VARCHAR},
      ds_user = #{record.dsUser,jdbcType=VARCHAR},
      ds_password = #{record.dsPassword,jdbcType=VARCHAR},
      ds_name = #{record.dsName,jdbcType=VARCHAR},
      ds_ext_param = #{record.dsExtParam,jdbcType=VARCHAR},
      ds_desc = #{record.dsDesc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yisutech.iisp.dataops.repository.pojo.OpsDataSource">
    update ops_data_source
    <set>
      <if test="dsUrl != null">
        ds_url = #{dsUrl,jdbcType=VARCHAR},
      </if>
      <if test="dsUser != null">
        ds_user = #{dsUser,jdbcType=VARCHAR},
      </if>
      <if test="dsPassword != null">
        ds_password = #{dsPassword,jdbcType=VARCHAR},
      </if>
      <if test="dsName != null">
        ds_name = #{dsName,jdbcType=VARCHAR},
      </if>
      <if test="dsExtParam != null">
        ds_ext_param = #{dsExtParam,jdbcType=VARCHAR},
      </if>
      <if test="dsDesc != null">
        ds_desc = #{dsDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yisutech.iisp.dataops.repository.pojo.OpsDataSource">
    update ops_data_source
    set ds_url = #{dsUrl,jdbcType=VARCHAR},
      ds_user = #{dsUser,jdbcType=VARCHAR},
      ds_password = #{dsPassword,jdbcType=VARCHAR},
      ds_name = #{dsName,jdbcType=VARCHAR},
      ds_ext_param = #{dsExtParam,jdbcType=VARCHAR},
      ds_desc = #{dsDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>