<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- https://github.com/spring-projects/spring-boot/blob/v1.4.2.RELEASE/spring-boot/src/main/resources/org/springframework/boot/logging/logback/defaults.xml -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="APP_NAME" value="iisp"/>
    <property name="LOG_PATH" value="/Users/guangzhong.wgz/antWorkSpace/yisutech-iisp/logs/"/>
    <property name="LOG_FILE" value="iisp.log"/>

    <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}${LOG_FILE}</file>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} %-5level %class %line #end %msg %n</Pattern>
            <charset>utf-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="dataopsEngine" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}dataopsEngine.log</file>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} %-5level %class %line #end %msg %n</Pattern>
            <charset>utf-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>dataopsEngine.log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>.%d{HH:mm:ss.SSS} %-5level %msg %n</Pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="flush_dataops_engine" additivity="false">
        <level value="info"/>
        <appender-ref ref="dataopsEngine"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLICATION"/>
    </root>
</configuration>